.content
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    /*min-height: 700px;  */
    width: 90%;    
    background: white;

}