
.contentTop
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    /*min-height: 400px;  */
    width: 90%;    
    background: white;
}
.body
{
    min-height: 550px;

}
@media only screen and (max-width: 700px) {
    .contentTop {
        width: 100%;
    }
  }